.post-div{
    position: relative;
    width: 80%;
    margin: 10px auto;
    border: 2px solid var(--lighter-blue);
    border-radius: 5px;
    color: white;
    padding: 20px;
}

.post-title{
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--lighter-blue);
}

.read-more-btn{
    padding: 5px 10px;
    color: white;
    border: 1px solid var(--lighter-blue);
    background: var(--darker-blue);
    border-radius: 5px;
    text-transform: uppercase;
}

.post-date{
    position: absolute;
    bottom: 20px;
    right: 70px;
}

.post-time{
    position: absolute;
    bottom: 20px;
    right: 20px;
}